<h1 class="text-center text-white">Burgers!</h1>


<div class="container bg-warning rounded-pill">
  <div class="row">
    <div class="col-3"><br></div>
    <div class="col-6">
<h2 class="text-center">Burger you ate!</h2>

<ul class="text-center unstyled">
  {{#each burgers}}
    {{#unless ate}}
      {{> burgers/burger-block ate=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class="col-3"><br></div>
  </div>
</div>

{{!-- lettuce --}}
<div class="container bg-success rounded-pill">
  <div class="col-3"></div>
  <div class="col-6"><br></div>
  <div class="col-3"></div>
</div>
{{!-- tomatoe --}}
<div class="container bg-danger rounded-pill">
  <div class="col-3"></div>
  <div class="col-6"><br></div>
  <div class="col-3"></div>
</div>
{{!-- burger --}}
<div class="container bg-brown rounded-pill">
  <div class="col-3"></div>
  <div class="col-6"><br><br><br><br></div>
  <div class="col-3"></div>
</div>


<div class="container bg-warning rounded-pill text-center">
  <div class="row">
  <div class="col-3"><br></div>
  <div class="col-6">
<div class="text-center align-self-center">
<h2 class="text-center">Burgers you haven't eaten!</h2>

<ul class="text-center unstyled">
  {{#each burgers}}
    {{#if ate}}
      {{> burgers/burger-block ate=false}}
    {{/if}}
  {{/each}}
</ul>
    </div>
    </div>
    <div class="col-3"><br></div>
  </div>
  </div>


<div class="container text-center">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3">
<h2 class="text-center text-white">Add a Burger</h2>
<form class="create-form text-center">

  <div class="form-group text-center text-white">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
</div>
<div class="col-2 text-center text-white">
  <div class="form-group text-center text-white">
    <label for="sleepy">Eat right away?</label><br>
    <input type="radio" name="ate" value="1" checked> Eat later!<br>
    <input type="radio" name="ate" value="0"> Eat now!
  </div>

  <button class="btn-info rounded-pill text-center text-white border-right border-bottom" type="submit">Add Burger</button>
  </div>
    <div class="col-4"></div>
</form>
</div>
</div>