<div class="container">
	<div class="row">
<li>
	{{name}}
{{#if ate}}
	<button class="change-ate btn-success rounded-pill" data-id="{{id}}" data-newburger="{{ate}}">
		EAT BURGER!!{{/if}}
	</button>

	<button class="delete-burger btn-danger rounded-pill" data-id="{{this.id}}">DELETE!</button>
</li>
	</div>
</div>